/* TODO */
/* 
Create mobile view
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif;
    background: url(img/qbkls.png);
}

button {
    height: 50px;
    width: 50px;
}

.btn {
    margin-top: 20%;
    margin-right: 50px;
    background: transparent;
}

.output {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 4em;
}

.mod-input {
    font-size: 2em;
    border: transparent;
    background: transparent;
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.mod-input > label {
    margin: 0 auto;
}

.mod-input > input {
    width: 50px;
}

.rollBtn {margin-top: 100px;
    background-color: transparent;
    border: transparent;
    font-size: 2em;
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
}

.selected {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    box-shadow:
        inset 0 0 90px #fff,      /* inner white */
        inset 20px 0 90px #f0f,   /* inner left magenta short */
        inset -20px 0 90px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 90px #f0f,        /* outer left magenta */
        10px 0 90px #0ff;         /* outer right cyan */
    }